svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1024" height="1024s" viewBox=`0 -64 1024 1024`)
    defs
        style g { display: none; } g:target {display: block}
    each icon in iconData
        g(id=icon.name)
            path(d=icon.path)